* {
    box-sizing: border-box;
}

:root {
    --primary: #ffb900;
    --font-heading: "Sen", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* =============================================Common=================================================== */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0px 16px;
    line-height: 40px;
    min-width: 118px;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    background: var(--primary);
    cursor: pointer;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 117.241%;
    letter-spacing: -1.16px;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 126.316%;
    letter-spacing: -0.76px;
}

.break-all {
    word-break: break-all;
}

/* ================================Header==================================== */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -30px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 6px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    color: #5f5b53;
    font-size: 1.6rem;
    padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    position: absolute;
    bottom: 6px;
    left: 21px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .action {
    margin-left: 49px;
}

.header .sign-up-btn {
    min-width: 114px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* =============================================Hero=================================================== */
.hero {
    display: flex;
    align-items: center;
    background: #fffcf4;
    height: calc(100vh - 82px);
}
.hero .body {
    display: flex;
}
/* ===============================Hero left==================================== */
.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    background: url(<path-to-image>),
        lightgray -448.75px 0px / 218.672% 100% no-repeat;
}

.hero-summary {
    position: absolute;
    bottom: 48px;
    left: 300px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 14px;
}

.hero-summary .item .icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    background: #fcefff;
    border-radius: 50%;
}

.hero-summary .item:first-child .icon {
    background: #fff9e8;
}

.hero-summary .item:last-child .icon {
    background: #ebeaff;
}

.hero-summary .item .lable {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}

.hero-summary .item .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/* ===============================Hero right==================================== */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .desc {
    margin: 22px 0;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 166.667%;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero-cta {
    background: var(--primary);
    line-height: 54px;
    min-width: 150px;
    margin-right: 28px;
    font-size: 1.8rem;
}

.hero .watch-video {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
}

.hero .watch-video .icon {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    margin-right: 14px;
    cursor: pointer;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero .desc.stats strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    margin-right: 12px;
}

.hero .desc.stats strong + strong {
    margin-left: 28px;
}

/* ================================================Popular======================================================= */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular .popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .info .desc {
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 166.667%;
    margin-top: 16px;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 50%;
    background: transparent;
}

.popular-top .control-btn:last-child {
    transform: rotate(180deg);
}

.popular-top .control-btn:hover {
    background: var(--primary);
    color: #fff;
    cursor: pointer;
}

/* ===================================================Courses list======================================================= */
.courses-list {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    gap: 30px;
}

.courses-item {
    flex: 1;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.courses-item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.courses-item .thumb {
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    vertical-align: bottom;
}

.courses-item .info {
    padding: 16px 22px 22px;
}

.courses-item .head,
.courses-item .head .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-item .head a {
    padding-right: 6px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
    margin-bottom: 6px;
}

.courses-item .rating .value {
    color: #fea31b;
    font-size: 1.6rem;
    line-height: 175%;
    margin-left: 6px;
}

.courses-item .desc {
    color: #171100;
    font-size: 1.4rem;
    line-height: 166.667%;
    margin-bottom: 12px;
}

.courses-item .buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-item .buy .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 166.667%;
}

.courses-item .buy-btn {
    border: none;
    font-size: 1.4rem;
}
